<html>
<head>
  <title>Spotify artists' popularity & genre displayed</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://cmaurer.github.io/angularjs-nvd3-directives/lib/nvd3/nv.d3.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="controller.js"></script>
</head>
<body ng-app="app">
<div ng-controller="StatsController" class="container">
  <div>
    <img src="spotify-logo.png" width="300" class="logo">
  </div>
  <p style="background-color:#FF9F9F;padding: 10px;border-left:10px solid #EE6C6C;margin-bottom: 30px;">
    <strong>What is this about</strong><br/>
    This is a small project that fetches Spotify data about artists' popularity, genre and followers and creates ranks. It should respond to questions like "what genre is the one that gets most followers?" or "is the most followed artist the most popular one on Spotify?"
  </p>

  <div class="row">
    <div class="col-md-6">
      <header class="section-header">
        <h2>Most followed artists</h2>
        <p>The list of most followed artists on Spotify</p>
      </header>
      <div class="photo" style="background-image:url({{data.mostFollowed[0].images[0].url}})"></div>
      <div class="chart most-followed-artists">
        <div ng-repeat="item in data.mostFollowed" class="item">
          <span class="position">{{$index+1}}</span>
          <div class="avatar" style="background-image:url({{ item.images[2].url}})"></div>
          <span class="name">{{item.name}}</span>
          <span>{{item.followers | number}}</span>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <header class="section-header">
        <h2>Most popular artist</h2>
        <p>The list of most popular artists on Spotify (0 - 100)</p>
      </header>

      <div class="photo" style="background-image:url({{data.mostPopular[0].images[0].url}})"></div>
      <div class="chart most-popular-artists">
        <div ng-repeat="item in data.mostPopular" class="item">
          <span class="position">{{$index+1}}</span>
          <div class="avatar" style="background-image:url({{ item.images[2].url}})"></div>
          <span class="name">{{item.name}}</span>
          <span>{{item.popularity | number}}</span>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <header class="section-header">
        <h2>Most followed genres</h2>
        <p>Average no. followers per artist in a given genre</p>
      </header>
      <div class="chart most-followed-artists">
        <div ng-repeat="item in data.mostFollowedGenre" class="item">
          <span class="position">{{$index+1}}</span>
          <span class="name">{{item.genre}}</span>
          <span>{{item.value | number:0}}</span>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <header class="section-header">
        <h2>Most popular genres</h2>
        <p>Average popularity per artist in a given genre</p>
      </header>
      <div class="chart most-popular-artists">
        <div ng-repeat="item in data.mostPopularGenre" class="item">
          <span class="position">{{$index+1}}</span>
          <span class="name">{{item.genre}}</span>
          <span>{{item.value | number:0}}</span>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <header class="section-header">
        <h2>Popularity - Followers - Genre scatter</h2>
        <p>Shows the distribution of major genres according to the popularity and followers of their artists</p>
      </header>
      <div class="chart" id="scatter">
        <ul class="legend">
          <li ng-repeat="item in legend"><span style="background-color:{{item.color}}" class="circle-legend"></span>{{item.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>


